:root {
    --bg: #001220;
    --wave: #ee6c4d;
    --highlight: #3d5a80;
}

* {
    margin: 0;
}

body {
    font-family: sans-serif;
    color: white;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    background: var(--bg);

}

.light {
    background: var(--highlight);
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./svg/layer1.svg');
}

.layer2 {
    background-image: url('./svg/layer2.svg');
}

.separator {
    background-image: url('./svg/separator.svg');
}

.navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-image: url('./svg/nav3.svg');
    aspect-ratio: 960/150;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    
    color: white;
}

.navbar a .selected {
    color: var(--highlight);
}

.navbar a:hover {
    color: var(--bg);
}

@media (min-width: 40em) {
    .navbar {
        background-image: url('./svg/nav2.svg');
        aspect-ratio: 960/100;
    }
    .navbar div {
        padding-bottom: 2em;
    }
}